@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
body{
    background-image: url("./Images/bgImage.jpg");
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-size: 25px;
    font-weight: bolder;
}

nav ul{
    display: flex ;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 12px;
}

.brand img{
    width: 64px;
}

.brand{
    display: flex;
    align-items: center;
}

.container{
    min-height: 72vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', Courier, monospace;
    display: flex;
    width: 70%;
    margin: 23px auto;
    border-radius: 13px;
    padding: 34px;
    background-image: url('./Images/bg2.png');
    background-size:cover;
    background-repeat: no-repeat;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.container h1{
    font-family:'Dancing Script', Courier, monospace ;
}
.bottom{
    position: sticky;
    bottom: 0;
    height: 90px;
    background-color: black;
    color: white;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons{
    margin-top: 15px;
    
}

.icons i{
    cursor: pointer;
}

.far{
    margin: 5px;
}

#myPrograssBar{
    width: 80vw;
    cursor: pointer;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    width: 100%;
    color: black;
    border-radius: 40px;
    box-shadow: 2px 2px  rgb(88, 88, 88);
    margin:12px 0;
    justify-content: space-between;
    align-items: center;
}

.songItem img{
    width: 49px;
    margin: 0px 23px;
    border-radius: 100%;
}

#song_duration{
    padding: 5px;
}

#song_duration i{
    padding: 5px ;
}
#song_duration i:hover{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', Courier, monospace;
    
}

.songInfo img{
    opacity: 0;
    transition: opacity .5s ease-in;
    margin-right: 5px;
}

@media only screen and (width < 800) {
    .songInfo{
        width: fit-content;
    }
    #song_duration i{
        width:fit-content;
        font-size: 5vh;
        
    }

    
}